* {
  margin: 0px;
  padding: 0px;
}
body
{
  height: 100%;
  width: 100%;
  font-size: 120%;
  background: #F8F8FF;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
.daneheader {
  width: 90%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
form, .iNextz {
  width: 30%;
  margin: 0px auto;
  padding: 20px;

  background: red;
  border-radius: 0px 0px 10px 10px;
}


.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.input-group2 {
  margin: 10px 0px 10px 0px;
  height: 40px;
  width: 100px;
  margin: 40px;

}
.input-group2 label
{
  display: block;
  text-align: left;
  margin: 0px;

}
.input-group2 block {
  display: block;
  text-align: left;
  margin: 3px;

}
.input-group2 input {
  height: 40px;
  width: 200px;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid gray;
}
.kontener
{
  height: 1000px;
  width: 100%;
  font-size: 30px;
  border-radius: 5px;
  border: 1px solid gray;

}

.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}
.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}



.Nextz .
{
  width: 1000px;
  height: auto;
}
.Nextz .btn
{
  width: 200px;
  padding: 10px;
  font-size: 12px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
  display: inline-block;

}
.block
{
  text-align: right;
  margin: 120px
  width: 200px;
  padding: 10px;
  font-size: 15px;
  color: black;
  border: none;
  border-radius: 5px;
}

.daneheader {
  width: 90%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .action {
  width: 90%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.fline .input-group2
{

  height: 40px;
  padding: 5px 10px;
  margin-right: 80px;
  position: center;
  display: inline-block;

}
.line
{
  border: 2px solid gray;
  border-radius: 5px;
}

.kline
{
  position: static;
  padding: 15px;
  margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    width: 848px;
}
.block_k
{
  
  width: 400px;
  height: 40px;
  display: inline-block;
}


.fline
{
  position: static;
  border-radius: 5px;
  border: 2px solid gray;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
    text-align: center;
}

.fline-input
{
  position: center;
  display: inline-block;
}





.iNextz .btn
{
  width: 200px;
  padding: 10px;
  font-size: 12px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
  display: inline-block;

}

.fline-input input
{
    height: 40px;
    width: 200px;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 50px;
}
.fline-input-klient
{
  text-align: center;
}


.fline-input-klient input
{
    height: 40px;
    width: 70%;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 50px;
  }
  .fline-input-l input
  {
      height: 100px;
      width: 98%;
      padding: 5px 10px;
      font-size: 15px;
      border-radius: 5px;
      border: 1px solid gray;
      margin-right: 60px;
      margin-bottom: 10px;
      display: block;
    }
